@font-face{
    font-family: "VinqueRg";
    src: url("/fonts/VinqueRg.ttf");
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: "AnotherDanger";
    src: url("/fonts/AnotherDanger.ttf");
    font-weight: normal;
    font-size: normal;
}
// @font-face{
//     font-family: "Another Danger";
//     src: url("/fonts/AnotherDanger.ttf");
//     font-weight: normal;
//     font-size: normal;
// }
