@font-face{
    font-family: "Vinque Rg";
    src: url("/fonts/ofont.ru_Vinque\ Rg.ttf");
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: "Another Danger";
    src: url("/fonts/ofont.ru_Another\ Danger.ttf");
    font-weight: normal;
    font-size: normal;
}